<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-65}</string>
                <key>spriteSize</key>
                <string>{218,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,1813},{218,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-58}</string>
                <key>spriteSize</key>
                <string>{218,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{223,1345},{218,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-38}</string>
                <key>spriteSize</key>
                <string>{220,232}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,1345},{220,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-31}</string>
                <key>spriteSize</key>
                <string>{228,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,849},{228,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{228,276}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,293},{228,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{228,290}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-16}</string>
                <key>spriteSize</key>
                <string>{228,276}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,571},{228,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-31}</string>
                <key>spriteSize</key>
                <string>{228,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,1097},{228,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{218,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{223,1539},{218,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{218,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{221,1723},{218,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{218,232}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{1,1579},{218,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{218,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{231,849},{218,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{218,276}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{231,293},{218,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{218,290}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{231,1},{218,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{218,276}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{231,571},{218,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-31}</string>
                <key>spriteSize</key>
                <string>{218,246}</string>
                <key>spriteSourceSize</key>
                <string>{256,320}</string>
                <key>textureRect</key>
                <string>{{231,1097},{218,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>chest.pvr.ccz</string>
            <key>size</key>
            <string>{450,1992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d46245e40f740670ec39b7bd72b5e4a2:5aeb5338df8524c387aba9b56b988bf2:af4b7e499727277bfc693b152927a888$</string>
            <key>textureFileName</key>
            <string>chest.pvr.ccz</string>
        </dict>
    </dict>
</plist>
