<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_btn_currency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{282,268}</string>
                <key>spriteSourceSize</key>
                <string>{312,272}</string>
                <key>textureRect</key>
                <string>{{491,571},{282,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_btn_gamecoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{286,268}</string>
                <key>spriteSourceSize</key>
                <string>{312,272}</string>
                <key>textureRect</key>
                <string>{{939,221},{286,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyreward_dlg_pic_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-21}</string>
                <key>spriteSize</key>
                <string>{134,122}</string>
                <key>spriteSourceSize</key>
                <string>{188,212}</string>
                <key>textureRect</key>
                <string>{{747,1174},{134,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyreward_dlg_pic_hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-5}</string>
                <key>spriteSize</key>
                <string>{120,174}</string>
                <key>spriteSourceSize</key>
                <string>{188,212}</string>
                <key>textureRect</key>
                <string>{{1693,535},{120,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_hero6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{124,182}</string>
                <key>spriteSourceSize</key>
                <string>{188,212}</string>
                <key>textureRect</key>
                <string>{{1039,931},{124,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_hero7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-3}</string>
                <key>spriteSize</key>
                <string>{120,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,212}</string>
                <key>textureRect</key>
                <string>{{1573,875},{120,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyreward_dlg_pic_hero8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-10}</string>
                <key>spriteSize</key>
                <string>{120,164}</string>
                <key>spriteSourceSize</key>
                <string>{188,212}</string>
                <key>textureRect</key>
                <string>{{1695,1013},{120,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{936,348}</string>
                <key>spriteSourceSize</key>
                <string>{992,372}</string>
                <key>textureRect</key>
                <string>{{1,221},{936,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_option.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{176,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1693,657},{176,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{282,268}</string>
                <key>spriteSourceSize</key>
                <string>{312,272}</string>
                <key>textureRect</key>
                <string>{{457,895},{282,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{176,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1223,905},{176,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_remove_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{184,200}</string>
                <key>textureRect</key>
                <string>{{1527,1068},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{184,200}</string>
                <key>textureRect</key>
                <string>{{1001,1181},{116,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{114,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1735,419},{114,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{116,102}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1645,1135},{116,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{118,104}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1219,1183},{118,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{122,104}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1223,1077},{122,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1401,1068},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{883,1130},{122,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{118,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1001,1057},{118,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{116,128}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1572,745},{116,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{727,1058},{114,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{114,100}</string>
                <key>spriteSourceSize</key>
                <string>{124,136}</string>
                <key>textureRect</key>
                <string>{{1121,1057},{114,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_fg_doghouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,322}</string>
                <key>spriteSourceSize</key>
                <string>{492,324}</string>
                <key>textureRect</key>
                <string>{{1,571},{488,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1266,218}</string>
                <key>spriteSourceSize</key>
                <string>{1320,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{1266,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_signpost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,200}</string>
                <key>textureRect</key>
                <string>{{1039,741},{148,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_sleigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{454,282}</string>
                <key>spriteSourceSize</key>
                <string>{496,316}</string>
                <key>textureRect</key>
                <string>{{1,895},{454,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_gp_btn_leaderboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-4}</string>
                <key>spriteSize</key>
                <string>{176,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1401,890},{176,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_gp_controller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{128,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{869,1036},{128,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_hero_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{647,1179},{98,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_herostat_btn_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1763,1135},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_herostat_btn_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-35}</string>
                <key>spriteSize</key>
                <string>{104,44}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1651,167},{104,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_nameinput_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,1}</string>
                <key>spriteSize</key>
                <string>{644,112}</string>
                <key>spriteSourceSize</key>
                <string>{800,168}</string>
                <key>textureRect</key>
                <string>{{1,1179},{644,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_nameinput_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{730,60}</string>
                <key>spriteSourceSize</key>
                <string>{800,64}</string>
                <key>textureRect</key>
                <string>{{1,1293},{730,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_propertybar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{380,104}</string>
                <key>spriteSourceSize</key>
                <string>{424,140}</string>
                <key>textureRect</key>
                <string>{{1269,167},{380,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_propertybar_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{144,140}</string>
                <key>textureRect</key>
                <string>{{1535,1186},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_totalkills_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{444,164}</string>
                <key>spriteSourceSize</key>
                <string>{480,176}</string>
                <key>textureRect</key>
                <string>{{1269,1},{444,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{240,208}</string>
                <key>spriteSourceSize</key>
                <string>{340,300}</string>
                <key>textureRect</key>
                <string>{{1451,535},{240,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-5}</string>
                <key>spriteSize</key>
                <string>{260,242}</string>
                <key>spriteSourceSize</key>
                <string>{340,300}</string>
                <key>textureRect</key>
                <string>{{1491,273},{260,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamecoin_item_pic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-5}</string>
                <key>spriteSize</key>
                <string>{260,262}</string>
                <key>spriteSourceSize</key>
                <string>{340,300}</string>
                <key>textureRect</key>
                <string>{{775,571},{260,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{262,260}</string>
                <key>spriteSourceSize</key>
                <string>{340,300}</string>
                <key>textureRect</key>
                <string>{{1227,273},{262,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{210,256}</string>
                <key>spriteSourceSize</key>
                <string>{340,300}</string>
                <key>textureRect</key>
                <string>{{1193,535},{210,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{199,152}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{1715,1},{199,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{209,140}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{727,847},{209,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{215,128}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{1735,202},{215,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{141,180}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{1390,747},{141,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{169,176}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{1695,835},{169,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{199,168}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{869,835},{199,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{199,156}</string>
                <key>spriteSourceSize</key>
                <string>{215,188}</string>
                <key>textureRect</key>
                <string>{{1189,747},{199,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box_claimed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-17}</string>
                <key>spriteSize</key>
                <string>{248,154}</string>
                <key>spriteSourceSize</key>
                <string>{304,188}</string>
                <key>textureRect</key>
                <string>{{1037,491},{248,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statupgrade_item_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,40}</string>
                <key>textureRect</key>
                <string>{{1227,221},{42,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statupgrade_item_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,4}</string>
                <key>spriteSourceSize</key>
                <string>{320,4}</string>
                <key>textureRect</key>
                <string>{{491,841},{320,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{883,1254},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1121,1173},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1339,1183},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1437,1186},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,68}</string>
                <key>textureRect</key>
                <string>{{939,491},{44,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>func.pvr.ccz</string>
            <key>size</key>
            <string>{1868,1354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc4581c22fb230a79173c2e6859a9bc:caafef022303431fb24ee04b82b05b05:2e854e545e09b9c5de7920437771869e$</string>
            <key>textureFileName</key>
            <string>func.pvr.ccz</string>
        </dict>
    </dict>
</plist>
