<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_bug_walking00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{336,120}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{1385,1},{336,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{310,120}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{1723,1},{310,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,0}</string>
                <key>spriteSize</key>
                <string>{286,122}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{1,75},{286,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{264,122}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{289,75},{264,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,0}</string>
                <key>spriteSize</key>
                <string>{242,122}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{555,75},{242,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{292,118}</string>
                <key>spriteSourceSize</key>
                <string>{336,122}</string>
                <key>textureRect</key>
                <string>{{1091,1},{292,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1102,90}</string>
                <key>spriteSourceSize</key>
                <string>{1104,96}</string>
                <key>textureRect</key>
                <string>{{799,123},{1102,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_progress_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1088,72}</string>
                <key>spriteSourceSize</key>
                <string>{1104,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{1088,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>load.pvr.ccz</string>
            <key>size</key>
            <string>{2034,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410cd4037e3fa5a1ec6bcb6141e48bc6:a53a69cbc31aff1331fef049c57bdb07:4231e3996cb1111ecf2ce2cc806b4dd1$</string>
            <key>textureFileName</key>
            <string>load.pvr.ccz</string>
        </dict>
    </dict>
</plist>
