<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_effect1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-80}</string>
                <key>spriteSize</key>
                <string>{22,28}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1135,278},{22,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-78}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1197,353},{62,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-67}</string>
                <key>spriteSize</key>
                <string>{102,70}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1163,65},{102,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{587,145},{142,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{164,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{193,243},{164,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-90}</string>
                <key>spriteSize</key>
                <string>{20,12}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1247,379},{20,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-88}</string>
                <key>spriteSize</key>
                <string>{50,26}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1082,426},{50,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-86}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1039,342},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-84}</string>
                <key>spriteSize</key>
                <string>{108,54}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1159,197},{108,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-82}</string>
                <key>spriteSize</key>
                <string>{136,68}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{522,413},{136,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126.5,168.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{1082,478},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-55}</string>
                <key>spriteSize</key>
                <string>{26,44}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{473,442},{26,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-46}</string>
                <key>spriteSize</key>
                <string>{122,178}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{522,289},{122,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-44}</string>
                <key>spriteSize</key>
                <string>{142,210}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{375,145},{142,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-14}</string>
                <key>spriteSize</key>
                <string>{142,260}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{639,1},{142,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{142,262}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{375,1},{142,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,11}</string>
                <key>spriteSize</key>
                <string>{122,260}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{901,1},{122,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,88}</string>
                <key>spriteSize</key>
                <string>{72,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{913,246},{72,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,137}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{1005,320},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-117}</string>
                <key>spriteSize</key>
                <string>{84,42}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{822,368},{84,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-117}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{702,289},{110,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-117}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{660,413},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-85}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{773,145},{144,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-65}</string>
                <key>spriteSize</key>
                <string>{166,190}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{1,307},{166,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-44}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{193,1},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{190,304}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,39}</string>
                <key>spriteSize</key>
                <string>{14,112}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{359,442},{14,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,93}</string>
                <key>spriteSize</key>
                <string>{10,68}</string>
                <key>spriteSourceSize</key>
                <string>{256,340}</string>
                <key>textureRect</key>
                <string>{{702,401},{10,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{41,49}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{875,432},{41,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,38}</string>
                <key>spriteSize</key>
                <string>{77,59}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{796,412},{77,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,55}</string>
                <key>spriteSize</key>
                <string>{85,75}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{822,291},{85,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,49}</string>
                <key>spriteSize</key>
                <string>{151,99}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{1058,125},{151,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,23}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{913,125},{143,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{161,151}</string>
                <key>spriteSourceSize</key>
                <string>{161,197}</string>
                <key>textureRect</key>
                <string>{{359,289},{161,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-43}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{359,243},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-43}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1251,253},{18,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-43}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1174,449},{24,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-43}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1216,417},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-43}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1174,417},{40,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-32}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1062,384},{40,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-27}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1215,311},{40,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-22}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{998,384},{40,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-16}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1135,311},{40,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{56,94}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{909,320},{56,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{58,108}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1159,137},{58,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{60,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1119,353},{60,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-20}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1043,278},{62,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{62,104}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1163,1},{62,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{760,291},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1110,415},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{54,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1004,426},{54,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{56,90}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1159,253},{56,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{908,378},{52,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,24}</string>
                <key>spriteSize</key>
                <string>{48,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{918,432},{48,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,8}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1247,353},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,23}</string>
                <key>spriteSize</key>
                <string>{20,18}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{875,412},{20,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,37}</string>
                <key>spriteSize</key>
                <string>{18,16}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{1251,273},{18,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,51}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{66,132}</string>
                <key>textureRect</key>
                <string>{{359,257},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>role_effect.pvr.ccz</string>
            <key>size</key>
            <string>{1268,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a4331be0ad4f9f6d1f18591e9bcf43:c53d57984b069869bec5e6b2f2c6d945:fdb075b7c3622490ea4d19e882f2d063$</string>
            <key>textureFileName</key>
            <string>role_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
