<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>show800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{250,422}</string>
                <key>spriteSourceSize</key>
                <string>{528,528}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,422}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>show8.pvr.ccz</string>
            <key>size</key>
            <string>{252,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c55b2fc5c3dacd44c374e7e1b68a5db:2fd1188a8c30ccdee41aed7dfc493c0b:e62d8cb3393286be6323cfacba49a863$</string>
            <key>textureFileName</key>
            <string>show8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
