<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cross_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1175,103},{176,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_cross_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{939,257},{176,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{86,80}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{391,373},{86,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_icon_watch_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-2}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{180,80}</string>
                <key>textureRect</key>
                <string>{{273,373},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tick_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1121,281},{176,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_tick_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{176,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1303,281},{176,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wicket_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1357,103},{130,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>checkbox_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{561,373},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{479,373},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,47}</string>
                <key>spriteSize</key>
                <string>{234,254}</string>
                <key>spriteSourceSize</key>
                <string>{352,352}</string>
                <key>textureRect</key>
                <string>{{939,1},{234,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>review_dlg_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{936,370}</string>
                <key>spriteSourceSize</key>
                <string>{1040,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{936,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>search_cell_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,44}</string>
                <key>textureRect</key>
                <string>{{1435,1},{58,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>searchbox_clean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{641,373},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchbutton_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{270,98}</string>
                <key>spriteSourceSize</key>
                <string>{304,120}</string>
                <key>textureRect</key>
                <string>{{1,373},{270,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchbutton_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-5}</string>
                <key>spriteSize</key>
                <string>{258,100}</string>
                <key>spriteSourceSize</key>
                <string>{304,120}</string>
                <key>textureRect</key>
                <string>{{1175,1},{258,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>widget.pvr.ccz</string>
            <key>size</key>
            <string>{1484,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c43d9d1ed4b0ab1d1321194e00595d:48a113cb8a1a5c58fa461a15af47e986:90450d48aa604487174eaadef0a0f7f5$</string>
            <key>textureFileName</key>
            <string>widget.pvr.ccz</string>
        </dict>
    </dict>
</plist>
