<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg_negative.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{243,369},{118,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bg_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{243,489},{118,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bg_positive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{243,609},{118,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,4}</string>
                <key>spriteSourceSize</key>
                <string>{400,4}</string>
                <key>textureRect</key>
                <string>{{381,245},{400,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dlg_group_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{107,563},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dlg_group_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,80}</string>
                <key>spriteSourceSize</key>
                <string>{4,80}</string>
                <key>textureRect</key>
                <string>{{365,369},{4,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fieldbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{319,245},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>form_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{242,386}</string>
                <key>spriteSourceSize</key>
                <string>{256,388}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>form_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{240,236}</string>
                <key>spriteSourceSize</key>
                <string>{240,252}</string>
                <key>textureRect</key>
                <string>{{1,647},{240,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputbox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{243,729},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_view_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{319,307},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_btn_normal_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{1,347},{180,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_btn_pressed_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,104}</string>
                <key>spriteSourceSize</key>
                <string>{180,104}</string>
                <key>textureRect</key>
                <string>{{1,453},{180,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>search_cell_bg_highlighted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{107,453},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>searchbox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,100}</string>
                <key>spriteSourceSize</key>
                <string>{316,100}</string>
                <key>textureRect</key>
                <string>{{1,245},{316,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>widget.9.pvr.ccz</string>
            <key>size</key>
            <string>{388,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e118a919806462e832dbe2a7972eaacf:724fb9f3b884a7b84cf20d7e916c9cc0:8006e9d6dc420aaf1737f53da0e30da8$</string>
            <key>textureFileName</key>
            <string>widget.9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
