<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aim_pointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_bubble_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,30}</string>
                <key>spriteSourceSize</key>
                <string>{88,36}</string>
                <key>textureRect</key>
                <string>{{55,125},{38,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_bubble_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{38,84}</string>
                <key>textureRect</key>
                <string>{{79,85},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_bubble_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{88,30}</string>
                <key>textureRect</key>
                <string>{{95,119},{32,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_bubble_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1,83},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glowborder_corner_rounded.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glowborder_corner_straight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{83,43},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glowborder_edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{55,83},{22,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap_danger_zone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1,137},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minimap_safezone_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{21,137},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>battle.9.pvr.ccz</string>
            <key>size</key>
            <string>{124,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b4b9d2b7e5c8a1eaa1d5188da0236a6:5d4a88c0c736eb835694ce7515b24836:92dcc396b45842fd461e93b1208f732a$</string>
            <key>textureFileName</key>
            <string>battle.9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
