<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_btn_currency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{473,113},{144,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buy_btn_gamecoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{481,251},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{1039,363},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dailyreward_dlg_pic_hero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{961,295},{62,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_hero6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{883,229},{64,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_hero7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{62,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{867,295},{62,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_pic_hero8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{94,106}</string>
                <key>textureRect</key>
                <string>{{1143,279},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dailyreward_dlg_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{470,176}</string>
                <key>spriteSourceSize</key>
                <string>{496,186}</string>
                <key>textureRect</key>
                <string>{{1,113},{470,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_option.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1145,191},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{156,136}</string>
                <key>textureRect</key>
                <string>{{619,113},{144,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_btn_ranking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{951,359},{90,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_btn_remove_ads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{1003,451},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,100}</string>
                <key>textureRect</key>
                <string>{{1169,343},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1127,459},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1169,405},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1065,459},{60,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{613,457},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{751,457},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{613,397},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{939,451},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{871,451},{60,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_bug_sleep08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1109,363},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_bug_sleep09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{1187,459},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_doghouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,162}</string>
                <key>spriteSourceSize</key>
                <string>{246,162}</string>
                <key>textureRect</key>
                <string>{{1,291},{246,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,110}</string>
                <key>spriteSourceSize</key>
                <string>{660,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{634,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_fg_signpost.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{353,435},{76,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_fg_sleigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{230,142}</string>
                <key>spriteSourceSize</key>
                <string>{248,158}</string>
                <key>textureRect</key>
                <string>{{249,291},{230,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_gp_btn_leaderboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1051,275},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_gp_controller.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1231,1},{66,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>func_hero_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1229,279},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_herostat_btn_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{815,457},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_herostat_btn_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{677,487},{52,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_nameinput_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,1}</string>
                <key>spriteSize</key>
                <string>{324,58}</string>
                <key>spriteSourceSize</key>
                <string>{400,84}</string>
                <key>textureRect</key>
                <string>{{637,35},{324,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_nameinput_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{366,32}</string>
                <key>spriteSourceSize</key>
                <string>{400,32}</string>
                <key>textureRect</key>
                <string>{{637,1},{366,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_propertybar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{192,54}</string>
                <key>spriteSourceSize</key>
                <string>{212,70}</string>
                <key>textureRect</key>
                <string>{{1,455},{192,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_propertybar_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{195,455},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>func_totalkills_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{224,84}</string>
                <key>spriteSourceSize</key>
                <string>{240,88}</string>
                <key>textureRect</key>
                <string>{{1005,1},{224,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{170,150}</string>
                <key>textureRect</key>
                <string>{{1017,87},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-2}</string>
                <key>spriteSize</key>
                <string>{132,124}</string>
                <key>spriteSourceSize</key>
                <string>{170,150}</string>
                <key>textureRect</key>
                <string>{{757,99},{132,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gamecoin_item_pic3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-2}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{170,150}</string>
                <key>textureRect</key>
                <string>{{619,259},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{170,150}</string>
                <key>textureRect</key>
                <string>{{883,95},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamecoin_item_pic5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{170,150}</string>
                <key>textureRect</key>
                <string>{{481,397},{106,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{102,76}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{249,435},{102,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{106,72}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{753,383},{106,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{108,66}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{757,233},{108,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{72,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{677,395},{72,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{861,359},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{1141,87},{102,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_box06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{102,80}</string>
                <key>spriteSourceSize</key>
                <string>{108,94}</string>
                <key>textureRect</key>
                <string>{{753,301},{102,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift_box_claimed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-8}</string>
                <key>spriteSize</key>
                <string>{126,78}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{1017,195},{126,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{731,487},{22,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statupgrade_item_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,2}</string>
                <key>spriteSourceSize</key>
                <string>{160,2}</string>
                <key>textureRect</key>
                <string>{{637,95},{160,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1231,339},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1231,389},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1231,69},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_icon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1227,119},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statupgrade_item_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{451,435},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>func.pvr.ccz</string>
            <key>size</key>
            <string>{1280,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc4581c22fb230a79173c2e6859a9bc:caafef022303431fb24ee04b82b05b05:2e854e545e09b9c5de7920437771869e$</string>
            <key>textureFileName</key>
            <string>func.pvr.ccz</string>
        </dict>
    </dict>
</plist>
