<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamecoin_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{377,59},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bubble_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{71,63},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_bubble_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,18}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{39,89},{36,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_bubble_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{86,68}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>info_bubble_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{1,89},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_btn_rate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{164,56}</string>
                <key>spriteSourceSize</key>
                <string>{168,60}</string>
                <key>textureRect</key>
                <string>{{315,1},{164,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_buy_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{206,60}</string>
                <key>spriteSourceSize</key>
                <string>{210,66}</string>
                <key>textureRect</key>
                <string>{{71,1},{206,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_reward_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{206,60}</string>
                <key>spriteSourceSize</key>
                <string>{210,66}</string>
                <key>textureRect</key>
                <string>{{121,63},{206,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statdetail_blue_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{59,115},{60,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statdetail_blue_bar_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{279,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_green_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{291,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_green_bar_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{303,1},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_group_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{427,59},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statdetail_red_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{329,59},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_red_bar_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{341,59},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_yellow_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{353,59},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statdetail_yellow_bar_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,10}</string>
                <key>spriteSourceSize</key>
                <string>{60,10}</string>
                <key>textureRect</key>
                <string>{{365,59},{60,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>statupgrade_item_btn_upgrade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,24}</string>
                <key>textureRect</key>
                <string>{{59,89},{50,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>func.9.pvr.ccz</string>
            <key>size</key>
            <string>{480,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a69428e8c9e36bbb36cc549eaeaffe4:ea8474a6c6ef81613d962cfe114bffc2:671f7c4f31a9a4c5a4efa0db89441133$</string>
            <key>textureFileName</key>
            <string>func.9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
