<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_bug_walking00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{549,1},{168,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{156,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{719,1},{156,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{144,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{1,41},{144,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{134,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{147,41},{134,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{124,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{877,1},{124,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bug_walking05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{148,61}</string>
                <key>spriteSourceSize</key>
                <string>{168,61}</string>
                <key>textureRect</key>
                <string>{{283,41},{148,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{552,46}</string>
                <key>spriteSourceSize</key>
                <string>{552,48}</string>
                <key>textureRect</key>
                <string>{{433,64},{552,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_progress_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,38}</string>
                <key>spriteSourceSize</key>
                <string>{552,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{546,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>load.pvr.ccz</string>
            <key>size</key>
            <string>{1002,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410cd4037e3fa5a1ec6bcb6141e48bc6:a53a69cbc31aff1331fef049c57bdb07:4231e3996cb1111ecf2ce2cc806b4dd1$</string>
            <key>textureFileName</key>
            <string>load.pvr.ccz</string>
        </dict>
    </dict>
</plist>
