<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carried_prop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{59,1},{66,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{697,35},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{435,87},{36,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{493,85},{34,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{271,49},{50,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{74,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{595,1},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{647,35},{46,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{183,55},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{65,69},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{845,33},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{899,79},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{937,33},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>carried_prop4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{115,1},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{439,1},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{805,81},{46,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{603,83},{48,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{491,1},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{853,79},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{891,33},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{50,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{543,1},{50,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carried_prop601.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1027,1},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>equip_level0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{761,1},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>equip_level1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{815,1},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>equip_level2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{869,1},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>equip_level3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{52,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{923,1},{52,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{713,81},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{425,45},{56,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{60,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{135,63},{60,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,77},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{227,49},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{321,49},{50,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{539,45},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{593,45},{52,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{483,45},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{54,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{383,1},{54,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{705,1},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{645,1},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{58,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{653,83},{58,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{551,83},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{797,33},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{759,81},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{749,35},{44,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{371,49},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{221,1},{46,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{331,1},{46,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop503.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{169,1},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{277,1},{46,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop60100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{227,109},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{249,109},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1011,33},{20,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop60110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{20,14}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1045,65},{20,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1011,55},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1015,83},{36,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop60120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{36,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1039,83},{36,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{52,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{985,33},{52,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop60122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{36,16}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1039,105},{36,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{40,24}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{947,75},{40,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>prop60131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{52,26}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{381,95},{52,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{333,101},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{34,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1045,43},{34,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{271,101},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop60142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{977,1},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prop_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{973,87},{40,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>prop.pvr.ccz</string>
            <key>size</key>
            <string>{1080,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61895472b4d4936f179a4481730a4383:f59c41084824554dab6b0736d72662f5:c57f5f2ca1894b1e5b702f218405bf83$</string>
            <key>textureFileName</key>
            <string>prop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
