<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_effect1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-40}</string>
                <key>spriteSize</key>
                <string>{12,16}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1029,115},{12,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{398,99},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-34}</string>
                <key>spriteSize</key>
                <string>{52,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{911,75},{52,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{497,1},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{95,1},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-45}</string>
                <key>spriteSize</key>
                <string>{12,8}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{847,118},{12,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-44}</string>
                <key>spriteSize</key>
                <string>{26,14}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{455,99},{26,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-43}</string>
                <key>spriteSize</key>
                <string>{40,22}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{982,75},{40,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect1103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-42}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{267,99},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect1104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-41}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1097,75},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62.5,83.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{181,109},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-27}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1097,113},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-23}</string>
                <key>spriteSize</key>
                <string>{62,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{571,1},{62,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{72,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{181,1},{72,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{72,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1040,1},{72,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{72,134}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{904,1},{72,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{64,132}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1174,1},{64,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,44}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1029,75},{38,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,69}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{214,109},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-58}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{757,80},{44,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{517,97},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-58}</string>
                <key>spriteSize</key>
                <string>{68,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1207,67},{68,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-43}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{767,1},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{411,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-22}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect2106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{96,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{255,1},{96,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,20}</string>
                <key>spriteSize</key>
                <string>{8,58}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{154,117},{8,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect2108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,47}</string>
                <key>spriteSize</key>
                <string>{6,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,170}</string>
                <key>textureRect</key>
                <string>{{635,84},{6,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{23,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{373,99},{23,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{41,31}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{814,77},{41,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,28}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{679,84},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect3003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,24}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{714,1},{77,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{839,1},{73,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect3005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{635,1},{81,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{134,117},{9,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-21}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{95,117},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1047,115},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{17,14}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1123,113},{17,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{21,16}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1241,105},{21,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-16}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{244,109},{21,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-13}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{432,99},{21,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-11}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1207,105},{21,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{21,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1006,75},{21,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{783,77},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{31,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1174,67},{31,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{847,76},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{33,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{631,93},{33,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{33,54}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{575,93},{33,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{31,52}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{949,75},{31,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1277,67},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{880,76},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{726,80},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{325,99},{27,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{471,99},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role_effect4020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{1062,115},{13,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,11}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{108,117},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,19}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{121,117},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_effect4023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,26}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{33,66}</string>
                <key>textureRect</key>
                <string>{{144,117},{9,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>role_effect.pvr.ccz</string>
            <key>size</key>
            <string>{1309,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a4331be0ad4f9f6d1f18591e9bcf43:c53d57984b069869bec5e6b2f2c6d945:fdb075b7c3622490ea4d19e882f2d063$</string>
            <key>textureFileName</key>
            <string>role_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
