<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>footprint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{31,35},{28,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>health_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,10}</string>
                <key>spriteSourceSize</key>
                <string>{66,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>health_prog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,10}</string>
                <key>spriteSourceSize</key>
                <string>{66,10}</string>
                <key>textureRect</key>
                <string>{{1,13},{66,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{69,1},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magic_bean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,33},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamina_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,6}</string>
                <key>spriteSourceSize</key>
                <string>{66,6}</string>
                <key>textureRect</key>
                <string>{{1,25},{66,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamina_cyclic_rolling.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,6}</string>
                <key>spriteSourceSize</key>
                <string>{66,6}</string>
                <key>textureRect</key>
                <string>{{59,35},{66,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stamina_prog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,6}</string>
                <key>spriteSourceSize</key>
                <string>{66,6}</string>
                <key>textureRect</key>
                <string>{{59,43},{66,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>role_extras.pvr.ccz</string>
            <key>size</key>
            <string>{126,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0883ddb6a133025f4553ea76c67cf8e1:bbba27a0e764084743da2092138894c0:5f39b9e2fe5f7830bb58ae2f4047a564$</string>
            <key>textureFileName</key>
            <string>role_extras.pvr.ccz</string>
        </dict>
    </dict>
</plist>
