<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_cross_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{497,131},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cross_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{589,131},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{271,189},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_icon_watch_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{60,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,40}</string>
                <key>textureRect</key>
                <string>{{399,189},{60,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tick_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{681,1},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tick_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{681,95},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wicket_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{595,1},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{357,189},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkbox_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{315,189},{42,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,23}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{473,1},{120,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>review_dlg_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{470,186}</string>
                <key>spriteSourceSize</key>
                <string>{520,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>search_cell_tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,22}</string>
                <key>spriteSourceSize</key>
                <string>{30,22}</string>
                <key>textureRect</key>
                <string>{{473,131},{30,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>searchbox_clean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{461,189},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchbutton_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{136,52}</string>
                <key>spriteSourceSize</key>
                <string>{152,60}</string>
                <key>textureRect</key>
                <string>{{1,189},{136,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switchbutton_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{130,52}</string>
                <key>spriteSourceSize</key>
                <string>{152,60}</string>
                <key>textureRect</key>
                <string>{{139,189},{130,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>widget.pvr.ccz</string>
            <key>size</key>
            <string>{772,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c43d9d1ed4b0ab1d1321194e00595d:48a113cb8a1a5c58fa461a15af47e986:90450d48aa604487174eaadef0a0f7f5$</string>
            <key>textureFileName</key>
            <string>widget.pvr.ccz</string>
        </dict>
    </dict>
</plist>
