<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg_negative.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,245},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{185,161},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg_positive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{181,225},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,2}</string>
                <key>spriteSourceSize</key>
                <string>{200,2}</string>
                <key>textureRect</key>
                <string>{{177,125},{200,2}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dlg_group_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{65,307},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dlg_group_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,40}</string>
                <key>spriteSourceSize</key>
                <string>{2,40}</string>
                <key>textureRect</key>
                <string>{{181,125},{2,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fieldbar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1,309},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>form_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{122,194}</string>
                <key>spriteSourceSize</key>
                <string>{128,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>form_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,126}</string>
                <key>textureRect</key>
                <string>{{1,125},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputbox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{60,50}</string>
                <key>textureRect</key>
                <string>{{65,245},{60,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_view_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{33,309},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>option_btn_normal_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{123,125},{90,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>option_btn_pressed_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,52}</string>
                <key>textureRect</key>
                <string>{{123,217},{90,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>search_cell_bg_highlighted.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{181,289},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>searchbox_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,50}</string>
                <key>spriteSourceSize</key>
                <string>{158,50}</string>
                <key>textureRect</key>
                <string>{{197,1},{158,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>widget.9.pvr.ccz</string>
            <key>size</key>
            <string>{248,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e118a919806462e832dbe2a7972eaacf:724fb9f3b884a7b84cf20d7e916c9cc0:8006e9d6dc420aaf1737f53da0e30da8$</string>
            <key>textureFileName</key>
            <string>widget.9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
